## look-zenburn.xrdb

#define COLOR_FG                  #dcdccc
#define COLOR_BG                  #3f3f3f

#define COLOR_TERM_BLACK          COLOR_BG
#define COLOR_TERM_DARK_RED       #705050
#define COLOR_TERM_DARK_GREEN     #60b48a
#define COLOR_TERM_DARK_YELLOW    #dfaf8f
#define COLOR_TERM_DARK_BLUE      #506070
#define COLOR_TERM_DARK_MAGENTA   #dc8cc3
#define COLOR_TERM_DARK_CYAN      #8cd0d3
#define COLOR_TERM_LIGHT_GRAY     COLOR_FG

#define COLOR_TERM_DARK_GRAY      #709080
#define COLOR_TERM_LIGHT_RED      #dca3a3
#define COLOR_TERM_LIGHT_GREEN    #c3bf9f
#define COLOR_TERM_LIGHT_YELLOW   #f0dfaf
#define COLOR_TERM_LIGHT_BLUE     #94bff3
#define COLOR_TERM_LIGHT_MAGENTA  #ec93d3
#define COLOR_TERM_LIGHT_CYAN     #93e0e3
#define COLOR_TERM_WHITE          #ffffff

*font: -xos4-terminus-medium-r-normal-*-12-*-*-*-*-*-*-1

## xterm config

xterm*background: COLOR_BG
xterm*foreground: COLOR_FB
xterm*savesLines: 10000

## urxvt config

URxvt.background: COLOR_BG
URxvt.foreground: COLOR_FG
URxvt.termname: rxvt
URxvt*scrollBar: false
## URxvt*scrollBar_right: false
## URxvt*scrollstyle: plain
URxvt*internalBorder: 0
URxvt*renderFont: false
Urxvt.secondaryScroll: true
URxvt.perl-ext: default,matcher,tabbed
URxvt.urlLauncher: /usr/bin/google-chrome
URxvt.matcher.button: 1
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    0
URxvt.tabbed.tab-bg:    2
## Xft*antialias: false


## default terminal colors

! black
!*color0:  #2e3436
!*color8:  #555753
*color0:  COLOR_TERM_BLACK
*color8:  COLOR_TERM_DARK_GRAY

! red
!*color1:  #cc0000
!*color9:  #ef2929
*color1:  COLOR_TERM_DARK_RED
*color9:  COLOR_TERM_LIGHT_RED

! green
!*color2:  #00ff00
!*color10: #66ff66
*color2:  COLOR_TERM_DARK_GREEN
*color10: COLOR_TERM_LIGHT_GREEN

! yellow
!*color3:  #c4a000
!*color11: #fc394f
*color3:  COLOR_TERM_DARK_YELLOW
*color11: COLOR_TERM_LIGHT_YELLOW

! blue
!*color4:  #3456a4
!*color12: #729fcf
*color4:  COLOR_TERM_DARK_BLUE
*color12: COLOR_TERM_LIGHT_BLUE

! magenta
!*color5:  #75507b
!*color13: #ad7fa8
*color5:  COLOR_TERM_DARK_MAGENTA
*color13: COLOR_TERM_LIGHT_MAGENTA

! orange (default cyan)
!*color6:  #418179
!*color14: #34e2e2
*color6:  COLOR_TERM_DARK_CYAN
*color14: COLOR_TERM_LIGHT_CYAN

! white
!*color7:  #d3d7cf
!*color15: #eeeeec
*color7:  COLOR_TERM_DARK_GRAY
*color15: COLOR_TERM_WHITE